<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.doublefloat.crm.project.customer.mapper.SalesPlanMapper">
    <insert id="insertDate">
        INSERT into sales_plan(customer_name,contact_name,contact_tel,sales_chance_id)
        select contact,customer_name,contact_tel,id from sales_chance where `status`=1
                                                                        and not EXISTS(select sales_chance_id from sales_plan where sales_chance.id=sales_plan.sales_chance_id)
    </insert>
    <update id="startPlan">
        update sales_plan
        set date=#{date},
            plan_content=#{planContent},
            status=#{status}
        where id = #{id}
    </update>
    <update id="changeStatus">
        update sales_plan
        set status=#{status}
        where id = #{id}
    </update>
    <select id="findAll" resultType="cn.doublefloat.crm.project.customer.domain.SalesPlan">
        select * from sales_plan
    </select>
</mapper>
